@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Mate+SC&family=Mate:ital@0;1&display=swap');

:root 
{
    --color-laranja: #F15924;
    --color-vermelho: #941721;
    --color-marrom: #422E1D;
    --color-preto: #070707;
    --color-branco: #F0F0F2;

    --font-titulo: "Mate", serif;
    --font-subtitulo: "Mate SC", serif;
    --font-texto: "Life Savers", serif;

    --fontsize-titulo: 3rem;
    --fontsize-subtitulo: 2.5rem;
    --fontsize-texto: 2rem;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header 
{
    height: 100vh;
    margin-bottom: 0%;
}

header::before 
{
    content: "";
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

h1 
{
    color: var(--color-branco);
    font-size: var(--fontsize-titulo);
    font-weight: 400;
    font-family: var(--font-titulo);
    font-style: normal;
}

h2 
{
    color: var(--color-branco);
    font-size: var(--fontsize-subtitulo);
    font-weight: 400;
    font-family: var(--font-subtitulo);
    font-style: normal;
}

header h1 
{
    margin-left: 7%;
    margin-top: 5%;
}

header h2 
{
    margin-left: 10%;
}

#apresentacao 
{
    display: flex;
    padding: 4%;
    align-items: center;
    background-color: var(--color-branco);
}

#apresentacao img 
{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#apresentacaotxt 
{
    margin-left: 3%;
    color: var(--color-preto);
    font-family: var(--font-texto);
    font-size: var(--fontsize-texto);
}

#apresentacaotxt h1 
{
    color: var(--color-preto);
    font-family: var(--font-titulo);
    font-size: var(--fontsize-titulo);
}

#projetos 
{
    background-color: var(--color-marrom);
    min-height: 80vh;
    padding: 4%;
}

#projetos ul 
{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.card 
{
    margin-top: 20px;
    max-width: 300px;
    height: auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover 
{
    transform: translateY(-5px);
}

.card img 
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-wrapper img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text 
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 0;
    transition: bottom 0.3s ease;
}

.card:hover .card-text 
{
    opacity: 1;
    top: 15%;
}

.card:hover .image-wrapper 
{
    opacity: .3;
}

#orcamento 
{
    padding: 3%;
}

#orcamento h2 
{
    color: var(--color-preto);
    text-align: center;
}

#orcamento form 
{
    max-width: 500px;
    margin: 0 auto;
    border: 0.2rem solid var(--color-marrom);
    padding: 2rem;
    font-size: 1.2rem;
}

.cores 
{
    text-align: center;
}

.cor-azul,
.cor-preto,
.cor-branco,
.cor-vermelho 
{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
    border: 1px solid black;
    border-radius: 4px;
}

.cor-azul 
{
    color: #F0F0F2;
    background-color: blue;
}

.cor-branco 
{
    background-color: white;
    margin-left: 1rem;
}

.cor-vermelho 
{
    background-color: red;
    margin-left: 1rem;
}

.cores label 
{
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-right: 2%;
}

.linha 
{
    display: grid;
    grid-column: 1 / 4;
}

#valorTenis 
{
    margin-top: 3%;
}

input[type=range],
input[type=radio] 
{
    accent-color: var(--color-laranja);
}

#modelo-tenis 
{
    width: 100%;
    font-size: 1.2rem;
}
