@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Mate+SC&family=Mate:ital@0;1&display=swap');

:root
{
    --color-laranja: #F15924;
    --color-vermelho: #941721;
    --color-marrom: #422E1D;
    --color-preto: #070707;
    --color-branco: #F0F0F2;

    --font-titulo: "Mate", serif;
    --font-subtitulo: "Mate SC", serif;
    --font-texto: "Life Savers", serif;

    --fontsize-titulo: 3rem;
    --fontsize-subtitulo: 2.5rem;
    --fontsize-texto: 2rem;
}

*
{
    margin: 0;
    list-style: none;
}

header
{
    height: 100vh;
}

header::before 
{
    content: "";
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

h1 
{
    color: var(--color-branco);
    font-size: var(--fontsize-titulo);
    font-weight: 400;
    font-family: var(--font-titulo);
    font-style: normal;
}

h2
{
    color:var(--color-branco);
    font-size: var(--fontsize-subtitulo);
    font-weight: 400;
    font-family: var(--font-subtitulo);
    font-style: normal;
}

header h1 
{
    margin-left: 7%;
    margin-top: 5%; 
}

header h2
{
    margin-left: 10%;
}

#apresentacao
{
    display: flex;
    padding: 4rem;
    align-items: center;
    background-color: var(--color-branco);
}

#apresentacao img
{
    border-radius: 50%;
}

#apresentacaotxt
{
    margin-left: 3%;
    color: var(--color-preto);
    font-family: var(--font-texto);
    font-size: var(--fontsize-texto);
}

#apresentacaotxt h1
{
    color: var(--color-preto);
    font-family: var(--font-titulo);
    font-size: var(--fontsize-titulo);
}

#projetos
{
    background-color: var(--color-marrom);
    height: 100vh;
}

#projetos ul
{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card
{
    margin-top: 20%;
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.image-wrapper
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity .5s;
}

.image-wrapper img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text
{
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s, top .5s;
    color: var(--color-branco);
    margin-top: 80%;
}

.card:hover .card-text
{
    opacity: 1;
    top: 15%
}

.card:hover .image-wrapper
{
    opacity: .3;
}

#orcamento
{
    height: 100vh;
    padding: 3rem;

}
#orcamento h2
{
    
    color: var(--color-preto);
}

#orcamento form
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
}

.campo
{
    display: flex;
    flex-direction: column;
}

.linha
{
    grid-column: 1 / 3;
}

input[type=range]
{
    accent-color: var(--color-laranja);
}